<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/tailwind-out.css}"/>
</head>
<body>
<div class="h-screen flex item-center justify-center">
    <div class="w-1/2 bg-green-500 rounded-lg grid grid-rows-7 gap-4 place-content-center">
        <div class="row-span-2">
            <h1 class="text-3xl font-bold underline">
                Hello world!
            </h1>
        </div>
        <div class="row-span-1">
            <h1 class="text-3xl font-bold underline">
                Hello world!
            </h1>
        </div>
        <div class="row-span-1">
            <h1 class="text-3xl font-bold underline">
                Hello world!
            </h1>
        </div>
        <div class="row-span-1">
            <h1 class="text-3xl font-bold underline">
                Hello world!
            </h1>
        </div>
        <div class="row-span-2">
            <h1 class="text-3xl font-bold underline">
                Hello world!
            </h1>
        </div>
    </div>
</div>
</body>
</html>